/* ********** ELEMENTS ********** */
input {
  text-align: center;
  padding: 20px;
  width: 95%;
  border-radius: 10px;
}

@media only screen and (max-width: 575px) {
input {
  margin-top: 8%;
}
}

div.hidden {
  display:none;
}

body {
  width: 100%;
  height: 100%;
  background:
    linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    url("https://image.freepik.com/free-vector/vintage-education-elements-set-with-school-books-textbooks-bag-apple-graduation-cap-feather-isolated_1284-38900.jpg");
  text-align: center;
}

/* ********** CLASSES ********** */
.h1-front, .h1-back {
  margin-top: 20px
}
.row {
  padding-top: 20px;
}

.col {
  padding-top: 2%;
}

@media only screen and (max-width: 767px) {
  .col, .row {
    padding: 5%;
  }
}


.carousel-control-next,.carousel-control-prev {
    filter: invert(100%);
}

.indicator {
  filter: invert(100%);
}

.carousel-indicators {
  top: 300px;
}

/* ********** IDS ********** */

#main-heading {
  color: #FFBCBC;
  font-size: 5rem;
  font-weight: bolder;
  font-family: 'Gamja Flower', cursive;
  position: relative;
  text-align: center;
  top: 20px;
  padding: 2%;
  padding-bottom: 80px;
  text-shadow: -1px -1px 0 #D35D6E, 4px -1px 0 #D35D6E, -1px 1px 0 #D35D6E, 1px 1px 0 #D35D6E;
}

#add-button {
  font-size: 1.5rem;
  text-align: center;
  width:120px;
  background-color: #CDF0EA;
  border-color: #87A8A4;
  border-width: 2px;
  color:#87A8A4;
  font-weight: bold;
}

#subtract-button {
  font-size: 1.5rem;
  text-align: center;
  width:120px;
  background-color: #FAB7B7;
  border-color: #D35D6E;
  border-width: 2px;
  color:#D35D6E;
  font-weight: bold;
}

#create-button {
  width:200px;
  text-align: center;
  font-size: 2.5rem;
  background-color: #D1D9D9;
  border-color: #BBBBBB;
  border-width: 2px;
  color:#AAAAAA;
  font-weight: bold;
  margin-top: 40px;
}

#back-button {
  font-size: 1.5rem;
  text-align: center;
  width:120px;
  background-color: #D1D9D9;
  border-color: #BBBBBB;
  border-width: 2px;
  color:#AAAAAA;
  font-weight: bold;
}

#input-field-controls-container {
  text-align: center;
}

#flashcard-carousel {
  background-color: transparent;
  height: 350px;
  width: 700px;
  text-align: center;
  margin: auto;
  margin-top: 350px;
}

#carousel-indicator {
  filter: invert(100%);
}

#input-field-container {
  padding: 40px;
}


#entire-document {
  background-color: white;
}

/* ********** FLIP CARD ********** */

.flip-card-front, .flip-card-back {
  border-radius: 10px;
  text-align: center;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 250px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 30px auto;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotate3d(0,-1,0,180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #BBBBBB;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotate3d(0,-1,0,180deg);
}
